# --------------------------
# Directories
# --------------------------
/.idea
/node_modules
/resources/assets/bower
/tests/logs
/vendor

# --------------------------
# Files
# --------------------------
.DS_Store
.env
.env.behat
storage/database.sqlite
storage/testing.sqlite
