# --------------------------
# Directories
# --------------------------
/.idea
/node_modules
/resources/assets/bower
/vendor

# --------------------------
# Files
# --------------------------
.DS_Store
.env